.img_container {
    width: 500px;
    height: 300px;
    background-color: darkgray;
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title {
    text-align: center;
}

.button {
    margin-right: 20px;
    margin-left: 20px;
    width: 64px;
    height: 64px;
    border: none;
}

button:active,
button:focus {
    outline: none;
}

#button-next {
    background: url("../icons/next.png");
}

#button-previous {
    background: url("../icons/previous.png");
}

#label {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
}